@use '@/styles/variables';
@use '@/styles/mixins';

.list {
  display: flex;
  align-items: center;
  gap: 20px;

  li:nth-child(1),
  li:nth-child(2) {
    display: none;
  }
}

.icon {
  path {
    fill: transparent;
    stroke: variables.$color-white-2;
    transition: fill 0.2s;
  }

  &:hover path,
  &:focus path {
    fill: variables.$color-white-2;
  }
}

@include mixins.desktop {
  .list {
    li:nth-child(1),
    li:nth-child(2) {
      display: flex;
    }
  }
}
