@use '@/styles/variables';
@use '@/styles/mixins.scss';

.link {
  @include mixins.header-button(variables.$color-white-4, variables.$color-white-1, 16px);

  &:hover,
  &:focus {
    transform: scale(1.1);

    .icon path {
      fill: variables.$color-white-1;
    }
  }

  .icon {
    margin-right: 16px;
    path {
      fill: transparent;
      stroke: variables.$color-white-2;
      transition: fill 0.2s;
    }
  }
}
