@use "@/styles/variables.scss" as variables;
@use "@/styles/mixins.scss" as mixins;













.submitBtn {
  @include mixins.buttonBase();
  margin-bottom: 12px;
}


.checkbox {
  display: flex;
  column-gap: 8px;
  margin-bottom: 26px;
}

.text {
  font-size: 14px;
  line-height: 1.7;
}

.err {
  @include mixins.error(variables.$errorColor);
}

.wrapperSign {
  display: flex;
  margin-left: auto;
  font-family: variables.$font-dm;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.textSign {
  color: variables.$color-blue-11;
}

.btnSign {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-left: 12px;
  color: variables.$color-blue-12;
}
