@use '@/styles/variables.scss';

@mixin flex-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Button mixin
@mixin circle-button($size, $position, $image) {
  position: absolute;
  bottom: 72px;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-image: url($image);
  #{$position}: 55px;
}

@mixin header-button($color, $bColor, $size) {
  font-weight: 600;
  line-height: 1.25;
  color: $color;
  font-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 22px;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    border-color: $bColor;
    box-shadow: 0 0 14px 0 rgba(201, 223, 255, 0.52);
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    transform: scale(1.1);
    border-width: 4px;
    border-color: $bColor;
  }
}

@mixin error($color) {
  font-size: 12px;
  line-height: 1.3;
  color: $color;
  margin-top: 8px;
}

@mixin formWrapper() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: variables.$font-dm;
  font-size: 16px;
  line-height: 1.5;
  color: variables.$color-black-1;
}

@mixin formTitle() {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17;
  color: variables.$color-blue-1;
  margin-bottom: 12px;
}

@mixin inputBase() {
  padding: 12px;
  border: 1.5px solid variables.$color-white-7;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease, color 0.3s ease;

  &:focus {
    border-color: variables.$inputColor;
    color: variables.$color-blue-1;
  }
}

@mixin buttonBase() {
  font-weight: 700;
  border-radius: 8px;
  padding: 12px 16px;
  color: variables.$color-white-1;
  background-color: variables.$color-blue-1;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}
