@use "./variables";
@use "./mixins";
@use "./fonts";
@use "tailwindcss";
@use "tailwindcss/utilities";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

header,
footer {
  z-index: 100;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

body {
  font-family: variables.$font-inter;
  font-weight: 400;
  overflow-x: hidden;
  color: variables.$color-white-2;
  background-color: variables.$background-page-color;
}

a,
input,
textarea,
button,
select {
  outline: none;
  box-shadow: none;
}

.home-container {
  max-width: 1680px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.section-container {
  padding-top: 36px;
  padding-bottom: 36px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-shadow {
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
}

.gradient-button {
  background: linear-gradient(0deg, #4b99ff 0%, #3e5b7e 54.72%, #071739 100%);
  color: white;
}
