@use '@/styles/variables';
@use '@/styles/mixins.scss';

.wrapper {
  display: none;
  position: relative;
}

.button {
  @include mixins.header-button(variables.$color-white-4, variables.$color-white-1, 32px);
}

// waiting on design
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px 0;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  z-index: 999;
  color: black;

  li {
    padding: 10px 65px;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }
}

.wrapper {
  @include mixins.desktop {
    display: block;
  }
}
