@use '@/styles/variables';

.btn {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  color: variables.$color-white-1;
  border-radius: 8px;
  background: variables.$gradient-orange;
}
