@use '@/styles/mixins';
@use '@/styles/variables';

.promo-banner {
  background-color: variables.$color-white-2;
  border-radius: 24px;
  box-shadow: variables.$shadow;

  .promo-content {
    @include mixins.flex-center-space-between;
    flex-wrap: wrap;
    padding: 77px 143px;

    .promo-text {
      display: flex;
      flex-direction: column;
      gap: 77px;

      .promo-discount {
        font-family: variables.$font-zen;
        font-size: 160px;
        line-height: 1.37;
        text-align: center;
        background: variables.$gradient-orange;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
