@use '@/styles/variables.scss';
@use '@/styles/mixins';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  column-gap: 8px;
  margin-right: 35px;
}

.link {
  display: none;
}

@include mixins.desktop {
  .link {
    display: flex;
    color: variables.$color-white-1;
    column-gap: 20px;
    font-weight: 500;
  }
}
