@use '@/styles/variables.scss';
@use '@/styles/mixins';

.footer {
  background-color: variables.$color-blue-1;
  padding-top: 38px;
  padding-bottom: 33px;
}

.container {
  max-width: 343px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  > :nth-child(1) {
    order: 2;
  }
  > :nth-child(2) {
    order: 1;
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@include mixins.desktop {
  .footer {
    padding-top: 23px;
    padding-bottom: 31px;
  }

  .container {
    max-width: 1680px;
  }

  .logo {
    justify-content: left;
    margin-bottom: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: row;

    > :nth-child(1) {
      order: 1;
    }
    > :nth-child(2) {
      order: 2;
    }
  }

  .social {
    flex-direction: row;
    max-width: 65%;
    margin-top: -35px;
  }
}
