@use '@/styles/variables';

.wrapper {
  color: variables.$color-white-1;
  line-height: 1.5;
  max-width: 425px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  margin-bottom: 16px;
}

.list {
  margin-left: 32px;
  margin-bottom: 22px;
  li {
    list-style: disc;
  }
}
